html, body {
	background-color: #91a3c9;
	height: 100%;
	background-position: center;
	/*background-image: url('https://media.giphy.com/media/bFmQVLnU4Smk/giphy.gif');*/
}

.media-player {
	border: 2px solid black;
	padding: 4px;
	background-color: white;
	background: linear-gradient(#7a7e82, #9bd7e2);
	box-shadow: 20px 20px 20px;
	border-radius: 2px;
}

.play {
	border-radius: 50%;
	height: 80px;
	width: 80px;
	border: 2px solid black;
	cursor: pointer;
	text-decoration: none;
	outline: none !important;
	display: inline-block; 
}

.container {
	top: 50%; margin-top:-100px;
	position: relative;
}

/* progress {
	width: 800px;
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
} */

.side {
	display: inline-block;
}

/*create a unique design for the media player
something simple but appealing*/

.slider {
	width: 100%;
}