@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html, body {
	background-color: #b2a48f;
	height: 100%;
	background-position: center;
}

.media-player {
	border: 2px solid black;
	padding: 4px;
	background-color: white;
	background: #d3cbbf;
	box-shadow: 20px 20px 20px;
	border-radius: 5px;
}

.play {
	border-radius: 50%;
	height: 80px;
	width: 80px;
	border: 2px solid black;
	cursor: pointer;
	text-decoration: none;
	outline: none !important;
	display: inline-block; 
}

.container {
	margin-top: 300px;
	position: relative;
}

.side {
	display: inline-block;
}

.slider {
	width: 100%;
}

img {
	border: 1px solid black;
}

.fas fa-play {
	font-size: 20px;
}